<!-- HEADER -->
<nav class="navbar navbar-expand-lg"> 
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="assets/favicon.jpg" alt="logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button class="favoris" [disabled]="favoris.length == 0" mat-button (click)="showFavoris()">
            Favoris
            &nbsp;
            <i class="fas fa-heart"></i>
          </button>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="nav-item dropdown">
            <div class="search-box">
                <form (ngSubmit)="findMovies()" [formGroup]="findMovieForm" class="search-form">
                    <mat-form-field>
                        <mat-label>Recherche</mat-label>
                        <input matInput formControlName="key" required>
                    </mat-form-field>
                    &nbsp;
                    <button type="submit" mat-raised-button color="orange" [disabled]="findMovieForm.invalid">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
      </form>
    </div>
</nav>
  
<br/>

<div class="main-container">

  <h1 class="title">{{moviesMessage}}&nbsp;<i class="fas fa-film"></i></h1>

  <br/>

  <!-- SEARCH MOVIES -->
  <div *ngIf="showSearchMovies" class="row content">
    <div class="col-md-4 movie" *ngFor="let movie of movies">
      <div class="card movie-card">
        <div class="card-body align-items-center d-flex justify-content-center movie-card-body">
          <img [src]="movie.Poster" alt="movie-poster" class="image" style="width:100%">
          <div class="middle">
            <div class="text">
              <a href="javascript:void()" (click)="showMovie()"
                 [routerLink]="['/movie']"
                 [queryParams]="{ title: movie.Title }">{{movie.Title}} {{movie.Year}}</a>
              &nbsp;
              <a href="javascript:void()" (click)="addToFavoris(movie)">
                <i class="far fa-heart" matTooltip="Ajouter aux favoris"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator *ngIf="showSearchMovies && movies.length > 0" [length]="totalMovieSearchResult"
                 [pageSize]="pageSize"
                 (page)="pageEvent($event)"></mat-paginator>

  <!-- FAVORIS -->
  <div *ngIf="showFavoriteMovies" class="row content">
    <div class="col-md-4 movie" *ngFor="let favori of favoris">
      <div class="card movie-card">
        <div class="card-body align-items-center d-flex justify-content-center movie-card-body">
          <img [src]="favori.Poster" alt="movie-poster" class="image" style="width:100%">
          <div class="middle">
            <div class="text">
              <a href="javascript:void()" (click)="showMovie()"
                 [routerLink]="['/movie']"
                 [queryParams]="{ title: favori.Title }">{{favori.Title}} {{favori.Year}}</a>
              &nbsp;
              <a href="javascript:void()" (click)="deleteFromFavoris(favori)">
                <i class="fas fa-heart" matTooltip="Enlever des favoris"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <h1 class="title" *ngIf="showSearchMovies || showFavoriteMovies">Dernier film consulté&nbsp;<i class="fas fa-film"></i></h1>

</div>

<!-- LOADER -->
<app-loader></app-loader>

<!-- ROUTING -->
<router-outlet></router-outlet>